.preguntaDos{
    margin:50px 100px;
}

.btn-dict{
    min-height: 60px;
    color:white;
    background-color:  rgba(65, 0, 102, .8);
    border:rgba(65, 0, 102, .8)
}


.btn-dict:hover{
    color:white ;
    background-color: #f0ad4e;
    border: #f0ad4e;

  }

  .spinner-border{
    width: 5rem;
     height: 5rem;
     margin-top:60px;

  }