<div class="preguntaDos">
    <app-alert [tipoAlerta]="tipoAlerta"  (childAlert)="resetAlert($event)"></app-alert>

    <button type="button"
            class="btn btn-warning btn-lg btn-block btn-dict"
            (click)= obtenerDatos() #botonCargar>
        Obtener datos diccionario
    </button>
  
    <div class="text-center" #spinnerCarga hidden=true>
        <div class="spinner-border" role="status" >
        </div>
      </div>

    <app-tabla-dict [listaDiccionario] ="listaDiccionario" ></app-tabla-dict>

</div>