
    <div class="alert alert-danger " hidden=true #alertaError>
        <strong>Error!</strong> A ocurrido un problema al obtener los datos. Si persiste comuníquese con Soporte.
        <button type="button" class="close" (click)=dismisError()>&times;</button>
    </div>



    <div class="alert alert-warning  "  hidden=true #alertaNull>
        <strong>Advertencia!</strong> No se han encontrado datos. Vuelva a intentar obtenerlos.
        <button type="button" class="close" (click)=dismisWarning()>&times;</button>
    </div>


