
  <div *ngIf="(listaDiccionario && listaDiccionario.length)">
  <div class="tabla-contenedor">
    <table class="table table-condensed table-striped tabla table-sm table-hover " >
        <thead>
          <tr>
            <th *ngFor="let nombre of nombreColumnas">
              {{nombre}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fila of listaDiccionario; let i = index " >
            <td > {{i+1}} </td>
            <td *ngFor= "let letra of fila.detalleLetras; let x = index">
            {{letra}} 
            </td>
            <td > {{fila.sumatoria }} </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>