.tabla-contenedor{
    margin: 30px 0px ;
    overflow-y: auto;
    height: 600px;
}



.tabla-contenedor thead th { 
    position: sticky; 
    top: 0;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color:rgba(65, 0, 102, 0.363);
  }

td { 
  padding: 9px 10px;
  color: rgb(61, 61, 61);
  }

  th { 
   padding: 12px 10px;
   text-align:right;
   margin-top: 0px;
   background:white; 
   height: 20px;
   color: rgb(5, 56, 90);
   }

   
.tabla{
    background-color: white ;
    width: 100%;
    table-layout: fixed;
    text-align: right;
}


::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  rgba(55, 130, 143, 0.719); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:   rgba(8, 89, 104, 0.712); 
  }