.preguntaUno{
    margin:50px 100px;
}

.area-textbox{
    margin: 20px 0px ;
}

textarea {
    border: 2px solid rgba(98,130, 133, .8);
    resize: none;
}

.btn-info:hover{
    min-height: 60px;
    background-color: rgba(0,110,78, .8);
    border:rgba(0,110,78, .8)
  }

  .btn-info{
    min-height: 60px;
  }
  

  .spinner-border{
    width: 5rem;
     height: 5rem;
     margin-top:60px;

  }