<div class="preguntaUno">
   <app-alert [tipoAlerta]="tipoAlerta"  (childAlert)="resetAlert($event)"></app-alert>

    <button type="button"
            class="btn btn-info btn-lg btn-block"
            (click)= obtenerDatos() #botonCargar>
        Obtener datos arreglo
    </button>

    <div class="text-center" #spinnerCarga hidden=true>
        <div class="spinner-border" role="status" >
        </div>
      </div>
    <br>
 
    <div class="area-textbox">
        <div class="form-group purple-border" #Cajatexto hidden=true>
           <label for="textbox"><b>Números ordenados</b></label>
           <textarea class="form-control" #textbox rows="3" readonly></textarea>     
        </div>
    </div>

        <app-tabla-array [listaNumeros] ="listaNumeros" ></app-tabla-array>

</div>