<nav class="navbar  navbar-expand-lg  " color-on-scroll="300">
    <div class="container">
      <a class="navbar-brand" [routerLink]="'/preguntauno'">Pregunta Uno</a>
      <a class="navbar-brand"  [routerLink]="'/preguntados'">Pregunta Dos</a>
    </div>
  </nav>
  