
.navbar{
    border: none;
    font-size: 16px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    padding: 0;
    background: white;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
}
    .navbar-brand{
        font-weight: 600;
        margin: 5px;
        padding: 20px 100px;
        font-size: 14px;
        color:  #66615B;
        text-transform: uppercase;
    }
 
