.tabla-contenedor{
    margin: 30px 0px ;
    overflow-y: auto;
    height: 500px;
}

.tabla-contenedor thead th { 
     position: sticky; 
     top: 0;
 }

 td { 
   padding: 3px 16px;
   color: rgb(61, 61, 61);
   }

   th { 
    padding: 12px 16px;
    text-align:left;
    margin-top: 0px;
    background:white; 
    height: 20px;
    color: rgb(5, 56, 90);
    }


.tabla{
    background-color: white ;
    width: 100%;
    table-layout: fixed;
    text-align: right;
}

    .tabla .id {
      width: 2%;
    }
  
    .tabla .number {
      width: 25%;
      font-weight: 500;
    }

    
    .tabla .quantity {
        width: 25%;
      }

      
    .tabla .first {
        width: 15%;
      }
  
      .tabla .last {
        width: 15%;
      }
    
.mayorDos{
  background-color: rgba(139, 245, 11,.6);
}

.menorDos{
  background-color:  rgba(245, 234, 11, .6);
}

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:  rgba(55, 130, 143, 0.719); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:   rgba(8, 89, 104, 0.712); 
}