<div *ngIf="(listaNumeros && listaNumeros.length)">
<div class="tabla-contenedor">
      <table class="table table-condensed  tabla" #datasource >
        <thead>
          <tr>
            <th *ngFor="let nombre of nombreColumnas"
                scope="col">
              {{nombre}}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let numero of listaNumeros; let i = index " 
          [className]="numero.quantity >= 2 ? 'mayorDos' : 'menorDos'">
            <td class ="id"> {{i+1}} </td>
            <td class ="number"> {{numero.number}} </td>
            <td class ="quantity"> {{numero.quantity}} </td>
            <td class ="first"> {{numero.first}} </td>
            <td class ="last"> {{numero.last }} </td>
          </tr>
        </tbody>
      </table>
  </div>
</div>